@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


@font-face {
  font-family: 'kinfolk';
  src: url('../fonts/FontsFree-Net-Kinfolk_Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cormorant';
  src: url('../fonts/CormorantInfant-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tiempos';
  src: url('../fonts/TiemposHeadline-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('../fonts/Graphik-Regular-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'product';
  src: url('../fonts/Product-Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik-semi-bold';
  src: url('../fonts/GraphikSemibold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'graphik-bold';
  src: url('../fonts/GraphikBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* a {
  color: inherit;
} */

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.error-message {
  color: red;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  display: none;
}

input:invalid[focused="true"] ~ .error-message {
  display: block;
}
select:invalid[focused="true"] ~ .error-message {
  display: block;
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

